# Godot 4+ specific ignores
.godot/
/.vs
/addons/texture_fonts
/examples
/source_files
/addons/panku_console
/addons
/csv-animations-builder-b6f38e3a2e59dcbb2f33b956fc24c92fe88077eb
/godot_resource_groups_examples
